profiles {

    standard {
        includeConfig 'config/executor/standard.config'
    }

    // Reserves 4 cpus reserved for very fast tasks and nextflow process
    // maximum of 108 cpus for slurm submitted jobs
    cos_hpc_4_node {
        includeConfig 'config/executor/cos-hpc-4-node.config'
    }

    test {
      includeConfig 'config/test.config'
    }

}

manifest {
  defaultBranch = "main"
}
