/* Submitted as a small sbatch with 4 reserved cpus for nextflow process
 *   and very quick processes.  Also has ability to submit additional
 *   sbatch jobs for longer running, more cpus needed processes.
 *   This particular profile is designed to occupy no more than 112 cpus total
 */
process {
  executor='local'
  scratch=true

  withLabel: cpuBound {
    executor='slurm'
    cpus=16

  }

}

executor {
  $local {
      cpus = 4
  }

  $slurm {
      queueSize = 6
  }

}
